# editorconfig.org

root = true

[*]
# Unix style files
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 4

[*.{java,py}]
indent_style = tab

[*.{kt,kts}]
indent_style = space
indent_size = 4
disabled_rules = annotation,argument-list-wrapping,chain-wrapping,filename,indent,no-empty-first-line-in-method-block,no-multi-spaces,package-name,paren-spacing,spacing-between-declarations-with-annotations,spacing-between-declarations-with-comments,trailing-comma,wrapping,no-wildcard-imports

[gradlew]
indent_style = space
indent_size = 4

[*.{md,markdown}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2
