/.gradle
/.idea/*
!.idea/codeStyles
!.idea/icon.svg
!.idea/ktlint.xml
/local.properties
.DS_Store
/build
/captures
*.iml
*.ignore
projectFilesBackup/.idea/workspace.xml
quest-list.csv
/keystore.properties
/buildSrc/build/
/buildSrc/.gradle
/projectFilesBackup*/
