*.ignore
quest-list.csv
/keystore.properties
/projectFilesBackup*/
*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea
!.idea/codeStyles
!.idea/icon.svg
!.idea/ktlint.xml
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata
