res/country_metadata/orchardProduces.yml  @rugk
app/src/main/java/de/westnordost/streetcomplete/util/LastPickedValuesStore.kt @smichel17
app/src/main/java/de/westnordost/streetcomplete/map/ @smichel17
