<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.westnordost.streetcomplete"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:name=".StreetCompleteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="de.westnordost.streetcomplete.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- see OsmOAuthDialogFragment.CALLBACK_URL -->
                <data android:scheme="streetcomplete" android:host="oauth" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentContainerActivity"/>
        <activity android:name=".settings.ShowQuestFormsActivity"
            android:configChanges="orientation|screenSize|uiMode"/>
        <service android:name=".data.download.QuestDownloadService" />
        <service android:name=".data.upload.QuestChangesUploadService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/fileprovider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
