<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

	<key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>de.westnordost.streetcomplete</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>streetcomplete</string>
                <string>geo</string>
            </array>
        </dict>
    </array>

	<key>LSApplicationQueriesSchemes</key>
    <array>
        <string>gomaposm</string><!-- see https://github.com/bryceco/GoMap/blob/d52d52ed9ae2ba6a44c859fc559e0e2513136341/src/iOS/Go%20Map!!-Info.plist#L95 -->
        <string>osmandmaps</string><!-- https://github.com/osmandapp/OsmAnd-iOS/blob/2e6202f7cd7114aee532f77a8ab277f9bd1c2e62/Resources/OsmAnd-Info.plist#L162 -->
        <string>cm</string><!-- see https://codeberg.org/comaps/comaps/src/commit/2ed7ac4fbd01f4a38ccf83fe6a4fc30d353fa6d3/iphone/Maps/CoMaps.plist#L63 -->
        <string>om</string><!-- see https://github.com/organicmaps/organicmaps/blob/db620c61441d726cc3c97d9bd071114b66e20c10/iphone/Maps/OMaps.plist#L117 -->

        <string>mailto</string>
    </array>
</dict>
</plist>
