name: Generate quest list
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  generate-quest-list:
    name: Generate quest list
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Generate quest list
        run: ./gradlew generateQuestList
      - uses: actions/upload-artifact@v3
        with:
          name: quest-list.csv
          path: ./quest-list.csv
