name: Generate quest list
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  generate-quest-list:
    name: Generate quest list
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v3
      - name: Generate quest list
        run: ./gradlew generateQuestList
      - uses: actions/upload-artifact@v4
        with:
          name: quest-list.csv
          path: ./quest-list.csv
