name: "Lint"
on:
  push:
    branches:
      - "master"
  workflow_dispatch:

jobs:
  ktlint:
    name: "Kotlin"
    runs-on: ubuntu-latest
    env:
      lintResultFilename: ktlint-result.txt
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - name: Run Kotlin linter
        id: ktlint-check
        uses: musichin/ktlint-check@v3.0.0
        with:
          ktlint-version: "1.3.0"
          reporter: plain?group_by_file,output=${{ env.lintResultFilename }}
          relative: true
        continue-on-error: true
      - name: Kotlin linter result
        run: |
          cat ${{ env.lintResultFilename }}
          [ "${{ steps.ktlint-check.outcome }}" == "success" ] || exit 1
